@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url("https://cdn.citizenweb.io/static/font/firasanslight.ttf") format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), local('FiraSans-Regular'), url("https://cdn.citizenweb.io/static/font/firasans.ttf") format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url("https://cdn.citizenweb.io/static/font/firasansbold.ttf") format('truetype');
}

body {
    background-color: #FCFFF5;
    font-size: 16px;
}

body a {
    color: #3E606F;
}

body a:hover, body a:active {
    color: #91AA9D;
}

body, input, button, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    color: #193441;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    margin-top: 20px;
    margin-bottom: 60px
}

.cloud-well {
    background-color: transparent;
    border: 3px dashed #2D2D2D
}

.docsection {
    padding-top: 30px
}

.devtitle {
    font-size: 17px;
    font-family: monospace
}

.devsub {
    margin-left: 25px
}

.devsection {
    padding-top: 20px
}

.docs-sidenav {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065)
}

.docs-sidenav>li>a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5
}

.docs-sidenav>li:first-child>a {
    border-radius: 6px 6px 0 0
}

.docs-sidenav>li:last-child>a {
    border-radius: 0 0 6px 6px
}

.docs-sidenav>.active>a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1)
}

.docs-sidenav .fa-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25
}

.docs-sidenav>li>a:hover {
    background-color: #f5f5f5
}

.docs-sidenav .fa-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25
}

.docs-sidenav>li>a:hover {
    background-color: #f5f5f5
}

.docs-sidenav a:hover .fa-chevron-right {
    opacity: .5
}

.docs-sidenav .active .fa-chevron-right, .docs-sidenav .active a:hover .fa-chevron-right {
    opacity: 1
}

.affix {
    top: 0px
}

.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px
}

.banner {
    background-color: transparent;
    background: url("https://cdn.citizenweb.io/static/img/wavepat-three.png");
    color: #3E606F;
    border: 0;
    min-height: 80px;
    font-size: 16px
}

.navbar-brand {
    padding: 10px 40px 10px 20px;
}

.navbar-brand img {
    width: 192px;
}

.navbar-default {
    margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
    padding: 30px 15px;
    color: #3E606F;
    text-shadow: none;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #3E606F;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #3E606F;
}

.navbar-toggle {
    margin-top: 25px;
}

.navbar-toggle .icon-bar {
    background-color: #2D2D2D;
}

.jumbotron {
    position: relative;
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    color: #3E606F;
}

.masthead {
    background: url("https://cdn.citizenweb.io/static/img/wavepat-three.png");
    text-shadow: 0;
    margin-top: -20px;
    color: #3E606F;
}

.masthead img {
    float: right;
    margin: 15px 15px;
}

.subhead {
    padding: 40px 0px;
    margin-top: -20px;
    text-align: left;
    color: #FCFFF5;
    background-color: #3E606F;
    margin-bottom: 20px;
}

.jumbotron h1 {
    font-weight: 400;
    font-size: 64px;
    letter-spacing: -3px;
    line-height: 1;
}

.headerpane h1 {
    margin-top: 50px;
}

.jumbotron p {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.25;
}

.jumbotron .lead {
    font-size: 28px;
    letter-spacing: -2px;
}

.subhead h1 {
    font-size: 60px;
    margin-top: 13px;
}

.subhead .lead {
    margin-bottom: 20px
}

.subhead .subhead-pretitle {
    margin-bottom: 10px;
    margin-left: 3px
}

.bluestripe {
    background-color: #3E606F;
    color: #FCFFF5;
    margin: 0px 0px 20px 0px;
    padding: 20px 0px
}

.bluestripe h2 {
    color: #FCFFF5;
    margin-top: 10px;
}

.bluestripe a {
    color: #FCFFF5;
    text-decoration: none
}

.bottomstripe {
    background-color: #D1DBBD;
    color: #3E606F;
    margin: 40px 0 -60px 0
}

.bottomstripe h4, .bottomstripe a {
    color: #3E606F;
}

.alert {
    padding: 1px 15px 20px 15px;
    background-color: #F1C40F;
    font-weight: 700;
    color: #FFF;
    text-shadow: none;
    border: none;
    border-radius: 0;
}

.alert h1 {
    color: #FFF;
}

.alert a {
    color: #FFF;
    text-decoration: underline;
}

.alert-success {
    background-color: #2ECC71;
}

.alert-info {
    background-color: #3498DB;
}

.alert-danger {
    background-color: #F04124
}

hr {
    margin-top: 34px;
    margin-bottom: 40px;
    border-top: solid 4px #91AA9D;
}

.media-body p {
    margin-bottom: 0;
}

.btn {
    padding: 10px 15px;
    line-height: 1;
    border-radius: 0;
}

.btn-lg {
    padding: 15px 20px;
    line-height: 1;
    border-radius: 0;
}

.btn-default {
    background-color: #FCFFF5;
    border-color: #193441;
    color: #193441;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
    background-color: #193441;
    border-color: #193441;
    color: #FCFFF5;
}

.btn-outline-inverse {
    color: #3E606F;
    background-color: transparent;
    border-color: #3E606F
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
    color: #FCFFF5;
    text-shadow: none;
    background-color: #3E606F;
    border-color: #3E606F;
}

.sidebar {
    margin-top: 15px
}

footer {
    font-size: 14px;
    padding-top: 10px;
    background-color: #3E606F;
    color: #FCFFF5;
}

footer a {
    color: #FCFFF5;
}

footer a:hover {
    color: #FCFFF5;
}

.post-meta {
    font-style: italic;
}

.post-content img {
    height: auto;
    max-width: 100%;
    display: inline-block;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.news-logos img {
    height: 75px;
    margin: 15px;
}

.stuff {
    text-align: center;
    margin-top: 0;
}

.stuff-frame {
    display: inline-block;
    width: 275px;
    border: 2px solid #3E606F;
    padding: 10px 0;
}

.nav-tabs>li>a:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
    background-color: #FCFFF5;
}
