<footer role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <img class="logo-sq" src="https://cdn.citizenweb.io/static/img/logo-arkos-round-333.png" />
      </div>
      <div class="col-md-8">
        <p>&copy; 2016 <a href="https://citizenweb.io/">CitizenWeb</a>. arkOS™, the arkOS Logo, and arkOS Connect™ are trademarks of CitizenWeb.</p>
        <p>The arkOS distribution is a derivative of <a href="https://archlinux.org">Arch Linux</a> and <a href="https://archlinuxarm.org">Arch Linux ARM</a>. Arch Linux is a trademark of Aaron Griffin and Judd Vinet.</p>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <p><a target="_blank" href="https://citizenweb.runstat.us">Network Status</a></p>
        <p><a href="/legal">Legal Notices</a></p>
      </div>
    </div>
  </div>
</footer>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.citizenweb.io/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 2]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//analytics.citizenweb.io/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
