<footer class="content-info" role="contentinfo">
  <div class="container">
    <span style="font-size: 13px; line-height: 1.3;"><p>&copy; 2014 <a href="https://citizenweb.io/">CitizenWeb</a>. arkOS™, the arkOS Logo, Genesis™ and arkOS CONNECT™ are trademarks of The CitizenWeb Project. Arch Linux is a trademark of Aaron Griffin and Judd Vinet. <a href="https://arkos.io/legal-notices/">Legal Notices</a>.</p>
  </div>
</footer>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.citizenweb.io/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 2]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//analytics.citizenweb.io/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
