<aside class="sidebar" role="complementary">
  <h3>Stay Connected</h3>
  <ul class="nav nav-list">
    <li><a href="/feed"><i class="fa fa-fw fa-rss" target="_blank"></i> News and Releases (RSS)</a></li>
    <li><a href="https://bbs.arkos.io/"><i class="fa fa-fw fa-users" target="_blank"></i> Community Forums</a></li>
    <li><a href="https://webchat.freenode.net/?channels=arkOS"><i class="fa fa-fw fa-comment" target="_blank"></i> IRC</a></li>
    <li><a href="https://twitter.com/arkOScloud"><i class="fa fa-fw fa-twitter" target="_blank"></i> Follow on Twitter</a></li>
    <li><a href="https://joindiaspora.com/u/cznweb"><i class="fa fa-fw fa-asterisk" target="_blank"></i> Follow on Diaspora</a></li>
    <li><a href="https://git.coderouge.co/groups/arkOS"><i class="fa fa-fw fa-gitlab" target="_blank"></i> Contribute via GitLab</a></li>
    <li><a href="mailto:info@arkos.io"><i class="fa fa-fw fa-envelope" target="_blank"></i> Contact Us</a></li>
  </ul>

  <h3>Recent News</h3>
  <ul>
    {% for post in site.posts limit:5 %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h3>A derivative of</h3>
  <a href="http://archlinuxarm.org/"><img src="https://cdn.coderouge.co/static/img/logo-alarm2.png" class="img-responsive" /></a>
</aside>
